<section th:fragment="banner" class="hero">
  <div class="heroImgBox">
    <img class="heroImg" th:src="@{/assets/img/banner.png}" alt="Banner Image" />
  </div>
  <div class="heroOverlay"></div>
  <div class="heroTextBox">
    <h1 class="heroTitle">SourceCode</h1>
    <a href="#ourServices" class="arrow-wave">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
</section>


<section th:fragment="bannerlogin" class="hero heroLogin">
  <div class="heroImgBox">
    <img class="heroImg" th:src="@{/assets/img/banner-login.jpg}" alt="Banner Image" />
  </div>
  <div class="heroOverlay"></div>
  <div class="heroFormBox">
    <div th:replace="fragments/form :: login"></div>
  </div>
</section>

<section th:fragment="bannersinpup" class="hero heroSignup">
  <div class="heroImgBox">
    <img class="heroImg" th:src="@{/assets/img/banner-login.jpg}" alt="Banner Image" />
  </div>
  <div class="heroOverlay"></div>
  <div class="heroFormBox">
    <div th:replace="fragments/form :: sinpup"></div>
  </div>
</section>