<div class="codeChallengeBox" th:fragment="codes">
<p class="codeChallengeBoxTitle">code Challenge</p>
    <p class="codeChallengeTitle" th:text="${api.name}"></p>
    <p class="codeChallengeCategory" th:text="${api.category}"></p>
  <p class="codeChallengeSubTitle">Languages</p>
    <p th:text="${api.languages}"></p>
  <p class="codeChallengeSubTitle">Description:</p>
    <p class="codeChallengeDescription" th:text="${api.description}"></p>

     <a class="codeChallengeLink" th:href="${api.url}"> Check Challenge </a>
</div>