<div th:fragment="login" class="align">

  <div class="grid">

    <form action="/login" method="post" class="form login">

      <header class="login__header">
        <h3 class="login__title">Login</h3>
      </header>

      <div class="login__body">

        <div class="form__field">
          <input type="text" placeholder="username" required name="username">
        </div>

        <div class="form__field">
          <input type="password" placeholder="Password" required name="password">
        </div>

      </div>

      <div class="login__footer">
        <input type="submit" value="Login">

        <p><span class="iconLogin icon--info">?</span><a href="/signup">Create new account ?</a></p>
      </div>

    </form>

  </div>

</div>

<div th:fragment="sinpup" class="align">

  <div class="grid">

    <form action="/signup" method="post" class="form login">

      <header class="login__header">
        <h3 class="login__title">Sign Up</h3>
      </header>

      <div class="login__body">
        <div class="form__field">
          <input type="text" placeholder="username" required name="username">
        </div>
        <div class="form__field">
          <input type="password" placeholder="Password" required name="password">
        </div>
        <div class="form__field">
          <input type="text" placeholder="firstname" required name="firstName">
        </div>
        <div class="form__field">
          <input type="text" placeholder="lastname" required name="lastName">
        </div>
        <div class="form__field">
          <input type="date" placeholder="dataOfBirth" required name="dateOfBirth">
        </div>
        <div class="form__field">
          <input type="text" placeholder="bio" required name="bio">
        </div>
      </div>

      <div class="login__footer">
        <input type="submit" value="Sign Up">
        <p><span class="iconLogin icon--info">?</span><a href="/login">Already have an  account</a></p>
      </div>

    </form>

  </div>

</div>