<head th:fragment="main">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SourceCode</title>
  <link rel="stylesheet" th:href="@{/assets/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/assets/css/main.css}">
  <link rel="stylesheet" th:href="@{/assets/css/icon.css}">
  <script th:src="@{/assets/js/main.js}" defer></script>
</head>

<head th:fragment="login">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SourceCode</title>
  <link rel="stylesheet" th:href="@{/assets/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/assets/css/main.css}">
  <link rel="stylesheet" th:href="@{/assets/css/login.css}">
  <link rel="stylesheet" th:href="@{/assets/css/icon.css}">
  <script th:src="@{/assets/js/main.js}" defer></script>
</head>

<head th:fragment="profile">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SourceCode</title>
  <link rel="stylesheet" th:href="@{/assets/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/assets/css/profile.css}">
  <script th:src="@{/assets/js/main.js}" defer></script>
</head>