<section th:fragment="ourservices">
  <h1 class="titleOurServices" id="ourServices">Our Services</h1>
  <section class="cardBoxOurServices">
    <div class="cardOurServices">
      <img th:src="@{/assets/img/blogging.svg}" alt="">
      <div class="cardInfoOurServices">
        <p class="cardInfoTitleOurServices">blogging</p>
        <p class="cardInfoDisOurServices">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
      </div>
    </div>
    <div class="cardOurServices">
      <img th:src="@{/assets/img/brainstorming.svg}" alt="">
      <div class="cardInfoOurServices">
        <p class="cardInfoTitleOurServices">brainstorming</p>
        <p class="cardInfoDisOurServices">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
      </div>
    </div>
    <div class="cardOurServices">
      <img th:src="@{/assets/img/idea.svg}" alt="">
      <div class="cardInfoOurServices">
        <p class="cardInfoTitleOurServices">idea</p>
        <p class="cardInfoDisOurServices">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
      </div>
    </div>
    <div class="cardOurServices">
      <img th:src="@{/assets/img/plan.svg}" alt="">
      <div class="cardInfoOurServices">
        <p class="cardInfoTitleOurServices">plan</p>
        <p class="cardInfoDisOurServices">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
      </div>
    </div>
    <div class="cardOurServices">
      <img th:src="@{/assets/img/study from books.svg}" alt="">
      <div class="cardInfoOurServices">
        <p class="cardInfoTitleOurServices">study from books</p>
        <p class="cardInfoDisOurServices">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
      </div>
    </div>
    <div class="cardOurServices">
      <img th:src="@{/assets/img/web development.svg}" alt="">
      <div class="cardInfoOurServices">
        <p class="cardInfoTitleOurServices">web development</p>
        <p class="cardInfoDisOurServices">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
      </div>
    </div>
  </section>
</section>