<section th:fragment="ourservices">
  <h1 class="titleOurServices" id="ourServices">Our Services</h1>
  <section class="cardBoxOurServices">
    <div class="cardOurServices">
      <img th:src="@{/assets/img/blogging.svg}" alt="">
      <div class="cardInfoOurServices">
        <p class="cardInfoTitleOurServices">Code Challenge</p>
        <p class="cardInfoDisOurServices">There is a set of coding challenges that you may solve and compare to other people's solutions to determine where you stand.</p>
      </div>
    </div>
    <div class="cardOurServices">
      <img th:src="@{/assets/img/brainstorming.svg}" alt="">
      <div class="cardInfoOurServices">
        <p class="cardInfoTitleOurServices">Helps</p>
        <p class="cardInfoDisOurServices">Based on your entire experience, you may assist and guide others.</p>
      </div>
    </div>
    <div class="cardOurServices">
      <img th:src="@{/assets/img/idea.svg}" alt="">
      <div class="cardInfoOurServices">
        <p class="cardInfoTitleOurServices">Idea</p>
        <p class="cardInfoDisOurServices">An atmosphere that fosters the development of ideas and assists aspiring developers in getting started.</p>
      </div>
    </div>
    <div class="cardOurServices">
      <img th:src="@{/assets/img/plan.svg}" alt="">
      <div class="cardInfoOurServices">
        <p class="cardInfoTitleOurServices">Plan</p>
        <p class="cardInfoDisOurServices">Planning a project and pushing ideas are two different things. Read about the difficulties that programmers are having and try to solve them.</p>
      </div>
    </div>
    <div class="cardOurServices">
      <img th:src="@{/assets/img/study from books.svg}" alt="">
      <div class="cardInfoOurServices">
        <p class="cardInfoTitleOurServices">Study</p>
        <p class="cardInfoDisOurServices">When it comes to learning, break the barrier of not asking when there are issues.</p>
      </div>
    </div>
    <div class="cardOurServices">
      <img th:src="@{/assets/img/web development.svg}" alt="">
      <div class="cardInfoOurServices">
        <p class="cardInfoTitleOurServices">Isolation</p>
        <p class="cardInfoDisOurServices">Join the technical community on our site, don't isolate yourself, and start following your favorite individuals.</p>
      </div>
    </div>
  </section>
</section>