<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Feeds</title>
</head>
<body>
    <h1 th:each="following : ${user.following}" >
<!--        <li th:text="${following.firstName}+ ' ' + ${following.lastName}" ></li>-->

        <p th:each="request : ${following.requests}">
        <p th:text="${following.firstName}+ ' ' + ${following.lastName}"></p>
        <p th:text="${request.type}" ></p>
        <p th:text="${request.content}" ></p>
        <p th:text="${request.createdAt}" ></p>
        </p>
    </h1>
</body>
</html>