<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: profile"></head>

<body>
  <div class="root">
    <div th:replace="fragments/navbar :: sidenav"></div>
    <div class="feed">
      <p class="feedTite">Activity</p>
      <form action="/request" method="POST" class="postForm">
        <label>New Post</label>
        <div class="postType"><label for="type">Post Type:</label>
          <input class="chooseType" list="types" name="type" id="type" placeholder="Post Type">
          <datalist id="types">
            <option value="Code Challenge"></option>
            <option value="Question"></option>
          </datalist>
        </div>
        <textarea class="post" name="content" placeholder="What's on your mind?"></textarea>
        <div class="btnbox">
          <input type="submit" class="btnPost" value="Post">
        </div>
      </form>
      <div th:replace="fragments/post :: posts"></div>
      </div>
    </div>
    <div class="rightSide">
      <div th:replace="fragments/codeC :: codes"></div>
    </div>

</body>

</html>