<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: profile"></head>

<body>
<div class="root">
  <div th:replace="fragments/navbar :: sidenav"></div>

<div class="profile">
  <section class="hero heroProfile">
    <div class="heroImgBox">
      <img th:src="*{'data:image/png;base64,'+ coverImage}"   class="heroImg"
           th:if="${showCoverImage == true}" />

      <img class="heroImg" th:src="@{/assets/img/caverpic.jpg}"alt="Banner Image" th:unless="${showCoverImage == true}">
    </div>
    <div class="heroOverlay"></div>
    <div class="profileBox">
      <div class="profilePicBox">
        <img th:src="*{'data:image/png;base64,'+ profileImage}"  class="profilePic"
             th:if="${showProfileImage == true}" />
        <img
                class="profilePic"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/512px-Circle-icons-profile.svg.png"
                alt="Mohammad ِAbu Mattar" title="Mohammad ِAbu Mattar" th:unless="${showProfileImage == true}">
      </div>
      <div class="profileInfo">
        <h1 th:text="${user.firstName} + ' ' +${user.lastName}">></h1>
        <div>
          <div class="proflieFollowBox" th:if="${showFollow == true}" >
            <a class="proflieFollowLink" href="/following" ><span th:text="${'Following: '+followingNum}"></span></a>
            <a class="proflieFollowLink" href="/followers"><span th:text="${'Followers: '+ followerNum}"></span></a>
          </div>
          <div th:unless="${showFollow == true}" >
            <span class="proflieFollowLink" th:text="${'Following: '+followingNum}"></span>
            <span class="proflieFollowLink" th:text="${'Followers: '+ followerNum}"></span>
          </div>
          <div>
            <div th:if="${deleteAccount == true}" >
              <form method="post" th:action="@{/deleteuser}">
                <input type="submit" value="Delete Account" class=""/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <form th:action="@{/profileimage}" method="post" enctype="multipart/form-data" >
    <input type="file" name="file" />
    <input type="submit" value="Upload Profile Image" />
  </form>


  <div class="space"></div>
  <div th:replace="fragments/post :: userposts"></div>
</div>

  <form th:action="@{/coverimage}" method="post" enctype="multipart/form-data" >
    <input type="file" name="file" />
    <input type="submit" value="Upload Cover Image" />
  </form>
</div>


</html>